.body
{
	background-image:url("bg.jpg")
}
.head
{
	margin-top:40px;
}
.h11
{
	color:#faab23;
	font-weight:10px;
}
.h1
{
	color:#f6e1c5;
	font-weight:10px;
}
.nav
{
	background-color:#2f170fe6;
	height:80px;
}
.intro
{
	width:75%;
	float:right;
	
}
.cofee
{
	position:relative;
	background-color:#f6e1c5;
	width:400px;
	height:350px;
	border-radius:10px;
	top:-450px;
	margin-left:100px;
	
}
.cofee button
{
	background-color:#e6a756;
	margin-left:120px;
}
.cofee1
{
	height:350px;
	background-color:#e6a756;
	margin-top:-300px;
}
.cofee2
{
	height:280px;
	width:700px;
	background-color:#f6e1c5;
	margin-left:200px;
	margin-top:15px;
	border-radius:10px;
	outline:2px solid green;
	
}
.cofee3
{
	border:1px solid red;
	padding-top:10px;
}
.footer
{
	background-color:#2f170fe6;
	height:100px;
	margin-top:80px;
	
}
.footer p
{
	margin-top:45px;
}