.body
{
	
}
.banner1 .banner2 .banner3 .banner4
{
	height:100vh;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	
}
img
{
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	animation:zoom-out 3s linear infinite;
}
@keyframe zoom-out{
	100%{
		width:100%;
	    }
}
.text-box
{
	width:600px;
	position:absolute;
	top:200px;
	left:100px;
	animation:text-up 12s linear infinite;
	transform:translate y(100px);
}
.text-box h1
{
	margin-bottom:40px;
}
.text-box p
{
	font-size:14px;
	line-height:18px;
	margin-top:80px;
}
.text-box span
{
	background:red;
	height:2px;
	width:300px;
	position:absolute;
	left:0;
	
}
.banner1
{
	animation:12s linear infinite;
}
.banner2
{
	animation:12s linear infinite;
}
.banner3
{
	animation:12s linear infinite;
}
.banner4
{
	animation:12s linear infinite;
}

@keyframe 1{
	
	0%{
		visibility:visible;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:hidden;
	}
}

@keyframe 2{
	
	0%{
		visibility:hidden;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:visible;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:hidden;
	}
}

@keyframe 3{
	
	0%{
		visibility:hidden;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:visible;
	}
	100%{
		visibility:hidden;
	}
}

@keyframe 4{
	
	0%{
		visibility:visible;
	}
	25%{
		visibility:hidden;
	}
	50%{
		visibility:hidden;
	}
	75%{
		visibility:hidden;
	}
	100%{
		visibility:visible;
	}
}

@keyframe text-up{
	10%{
		transform:translateY(0px);
	}
	100%{
		transform:translateY(0px);
	}
}	

.text-box1
{
	animation:0s;
}
.text-box2
{
	animation:3s;
}
.text-box3
{
	animation:6s;
}
.text-box4
{
	animation:9s;
}





















