.nav
{
   height:60px;
   /* background:linear-gradient(red,yellow,blue); */
}
.nav ul li
{
	margin-top:5px;
}
.head
{
	height:500px;
	background-image:url("1.jpg");
}
.head h1
{
	margin-top:80px;
}
.para
{
	height:500px;
	background-color:#444444
}
.para button 
{
	margin-left:25px;
}
.para1
{
	height:500px;
	background-color:#d6ff8f
}
.para1 button 
{
	margin-left:25px;
}
.footer
{
	height:250px;
}
.footer h2
{
	margin-top:20px;
	margin-left:0px;
}
.footer ul li
{
	margin-top: 5px;
}
.copy
{
	height:50px;
	background-color:#444444
	
}
.copy p
{
	margin-top:10px;
}
