.nav
{
   height:60px;
   /* background:linear-gradient(red,yellow,blue); */
}
.nav ul li
{
	margin-top:5px;
}
.head
{
	height:500px;
	background-image:url("1.jpg");
}
.head h1
{
	margin-top:80px;
}

.fimage1
{
	height:500px;
}
.fimage1 img
{
	height:400px;
	width:400px;
	margin-top:70px;
	margin-left:60px;
}
.fimage1 form
{
	margin-top:80px;
}
.fimage1 form input
{
	width:200px; 
	height:40px;
	margin-left:50px;
	margin-top:20px;
	
}
.fimage1 form textarea
{
	width:450px; 
	height:200px;
	margin-left:50px;
	margin-top:35px;
}
.fimage1 button
{
	margin-left:50px;
}
.fimage1 .list
{
	margin-top:150px;
	margin-left:-50px;
}
.map
{
	height:400px;
	margin-top:20px;
}



.footer
{
	height:250px;
}
.footer h2
{
	margin-top:20px;
	margin-left:0px;
}
.footer ul li
{
	margin-top: 5px;
}
.copy
{
	height:30px;
}
.copy p
{
	margin-top:10px;
}














