.nav
{
   height:60px;
   /* background:linear-gradient(red,yellow,blue); */
}
.nav ul li
{
	margin-top:5px;
}
.head
{
	height:500px;
	background-image:url("1.jpg");
}
.head h1
{
	margin-top:80px;
}
.para
{
	height:700px;
	background-color:#444444
}
.para button 
{
	margin-left:25px;
}
.para form
{
	margin-top:30px;
}
.para form input
{
	width:200px; 
	height:40px;
	margin-left:50px;
	margin-top:20px;
	
}
.para form textarea
{
	width:300px; 
	height:200px;
	margin-left:50px;
	margin-top:35px;
}
.para button
{
	margin-left:50px;
}

.footer
{
	height:250px;
}
.footer h2
{
	margin-top:20px;
	margin-left:0px;
}
.footer ul li
{
	margin-top: 5px;
}
.copy
{
	height:30px;
}
.copy p
{
	margin-top:10px;
}














